vue/node_modules
vue/dist
release/
.idea/
.vscode/
.DS_Store
docs/diagrams
build
dockernet/state
dockernet/logs
dockernet/upgrades/binaries
dockernet/upgrades/cosmovisor
dockernet/temp.sh
.env*
scripts/testing/variables.sh