version: 1
accounts:
  - name: treasury
    coins:
      - 9000000000000000uelys
      - 200000000stake
      - 100000000eden
  - name: seed
    coins:
      - 9000000000000000uelys
      - 100000000stake
client:
  openapi:
    path: docs/static/openapi.yml
faucet:
  name: seed
  coins:
    - 1000000000000000uelys
    - 100000stake
validators:
  - name: treasury
    bonded: 100000000stake
genesis:
  app_state:
    crisis:
      constant_fee:
        denom: stake
    gov:
      deposit_params:
        max_deposit_period: 20s
        min_deposit:
          - amount: "10000000"
            denom: stake
      voting_params:
        voting_period: 20s
    mint:
      params:
        mint_denom: stake
    staking:
      params:
        bond_denom: stake
    bank:
      denom_metadata:
        - base: uelys
          denom_units:
            - denom: uelys
              exponent: 0
              aliases:
                - microelys
            - denom: melys
              exponent: 3
              aliases:
                - millielys
            - denom: elys
              exponent: 6
              aliases: []
          name: elys
          symbol: elys
          description: Native Elys token definition
          display: elys
    assetprofile:
      entryList:
        - address: ""
          authority: elys10d07y265gmmuvt4z0w9aw880jnsr700j6z2zm3
          baseDenom: uelys
          decimals: "18"
          denom: uelys
          displayName: ELYS
          displaySymbol: ""
          externalSymbol: ""
          ibcChannelId: ""
          ibcCounterpartyChainId: ""
          ibcCounterpartyChannelId: ""
          ibcCounterpartyDenom: ""
          network: ""
          path: ""
          permissions: []
          transferLimit: ""
          unitDenom: ""
        - address: ""
          authority: elys10d07y265gmmuvt4z0w9aw880jnsr700j6z2zm3
          baseDenom: cusdc
          decimals: "6"
          denom: cusdc
          displayName: USDC
          displaySymbol: ""
          externalSymbol: ""
          ibcChannelId: ""
          ibcCounterpartyChainId: ""
          ibcCounterpartyChannelId: ""
          ibcCounterpartyDenom: ""
          network: ""
          path: ""
          permissions: []
          transferLimit: ""
          unitDenom: ""
    epochs:
      epochs:
        - identifier: week
          duration: "168h"
          currentEpoch: "0"
          currentEpochStartHeight: "0"
          epochCountingStarted: false
        - identifier: day
          duration: "24h"
          currentEpoch: "0"
          currentEpochStartHeight: "0"
          epochCountingStarted: false
        - identifier: hour
          duration: "1h"
          currentEpoch: "0"
          currentEpochStartHeight: "0"
          epochCountingStarted: false
        - identifier: tenseconds
          duration: "10s"
          currentEpoch: "0"
          currentEpochStartHeight: "0"
          epochCountingStarted: false
    commitment:
      params:
        vesting_infos:
          - base_denom: eden
            vesting_denom: uelys
            epoch_identifier: tenseconds
            num_epochs: "10"
    tokenomics:
      airdropList:
        - intent: AtomStakers
          amount: 9999999
          authority: elys10d07y265gmmuvt4z0w9aw880jnsr700j6z2zm3
        - intent: RowanStakersLP
          amount: 9999999
          authority: elys10d07y265gmmuvt4z0w9aw880jnsr700j6z2zm3
        - intent: Juno
          amount: 9999999
          authority: elys10d07y265gmmuvt4z0w9aw880jnsr700j6z2zm3
        - intent: Osmo
          amount: 9999999
          authority: elys10d07y265gmmuvt4z0w9aw880jnsr700j6z2zm3
        - intent: Evmos
          amount: 9999999
          authority: elys10d07y265gmmuvt4z0w9aw880jnsr700j6z2zm3
      genesisInflation:
        inflation:
          lmRewards: 9999999
          icsStakingRewards: 9999999
          communityFund: 9999999
          strategicReserve: 9999999
          teamTokensVested: 9999999
        seedVesting: 9999999
        strategicSalesVesting: 9999999
        authority: elys10d07y265gmmuvt4z0w9aw880jnsr700j6z2zm3
      timeBasedInflationList:
        - startBlockHeight: 1
          endBlockHeight: 6307200
          description: 1st Year Inflation
          inflation:
            lmRewards: 9999999
            icsStakingRewards: 9999999
            communityFund: 9999999
            strategicReserve: 9999999
            teamTokensVested: 9999999
        - startBlockHeight: 6307201
          endBlockHeight: 12614401
          description: 2nd Year Inflation
          inflation:
            lmRewards: 9999999
            icsStakingRewards: 9999999
            communityFund: 9999999
            strategicReserve: 9999999
            teamTokensVested: 9999999
        - startBlockHeight: 12614402
          endBlockHeight: 18921602
          description: 3rd Year Inflation
          inflation:
            lmRewards: 9999999
            icsStakingRewards: 9999999
            communityFund: 9999999
            strategicReserve: 9999999
            teamTokensVested: 9999999
  chain_id: elystestnet-1
