version: 1
accounts:
  - name: nirvana
    address: elys1gpv36nyuw5a92hehea3jqaadss9smsqscr3lrp
    coins:
      - 25000000000000uelys
      - 25000000000000ueden
  - name: utopia
    address: elys1arm80rgjzlczm526hs3eam6g3sjgz5r7snw9em
    coins:
      - 25000000000000uelys
      - 25000000000000ueden
  - name: shangrila
    address: elys1ch0eyje2nd4t865fgqza3re27t27lcvzx2q9f6
    coins:
      - 25000000000000uelys
      - 25000000000000ueden
  - name: euphoria
    address: elys1hcsm79x44af4eqxr79aua52tf9k33krkk087s7
    coins:
      - 25000000000000uelys
      - 25000000000000ueden
client:
  openapi:
    path: docs/static/openapi.yml
faucet:
  name: nirvana
  coins:
    - 10000000000000uelys
    - 10000000000000ueden
genesis:
  app_state:
    crisis:
      constant_fee:
        denom: uelys
    gov:
      deposit_params:
        max_deposit_period: 60s
        min_deposit:
          - amount: "10000000"
            denom: uelys
      voting_params:
        voting_period: 60s
    mint:
      params:
        mint_denom: uelys
        inflation_rate_change: "0.0"
        inflation_max: "0.0"
        inflation_min: "0.0"
    slashing:
      params:
        signed_blocks_window: "30000"
        min_signed_per_window: "0.05"
        downtime_jail_duration: 600s
        slash_fraction_double_sign: "0.05"
        slash_fraction_downtime: "0.0001"
    staking:
      params:
        bond_denom: uelys
        unbonding_time: 1209600s
    bank:
      denom_metadata:
        - base: uelys
          denom_units:
            - denom: uelys
              exponent: 0
              aliases:
                - microelys
            - denom: melys
              exponent: 3
              aliases:
                - millielys
            - denom: elys
              exponent: 6
              aliases: []
          name: elys
          symbol: elys
          description: Native Elys token definition
          display: elys
        - base: ueden
          denom_units:
            - denom: ueden
              exponent: 0
              aliases:
                - microeden
            - denom: meden
              exponent: 3
              aliases:
                - millieden
            - denom: eden
              exponent: 6
              aliases: []
          name: eden
          symbol: eden
          description: Eden token definition
          display: eden
    assetprofile:
      entryList:
        - address: ""
          authority: elys10d07y265gmmuvt4z0w9aw880jnsr700j6z2zm3
          baseDenom: uelys
          decimals: "18"
          denom: uelys
          displayName: ELYS
          displaySymbol: ""
          externalSymbol: ""
          ibcChannelId: ""
          ibcCounterpartyChainId: ""
          ibcCounterpartyChannelId: ""
          ibcCounterpartyDenom: ""
          network: ""
          path: ""
          permissions: []
          transferLimit: ""
          unitDenom: ""
        - address: ""
          authority: elys10d07y265gmmuvt4z0w9aw880jnsr700j6z2zm3
          baseDenom: cusdc
          decimals: "6"
          denom: cusdc
          displayName: USDC
          displaySymbol: ""
          externalSymbol: ""
          ibcChannelId: ""
          ibcCounterpartyChainId: ""
          ibcCounterpartyChannelId: ""
          ibcCounterpartyDenom: ""
          network: ""
          path: ""
          permissions: []
          transferLimit: ""
          unitDenom: ""
        - address: ""
          authority: elys10d07y265gmmuvt4z0w9aw880jnsr700j6z2zm3
          baseDenom: ueden
          decimals: "18"
          denom: ueden
          displayName: EDEN
          displaySymbol: ""
          externalSymbol: ""
          ibcChannelId: ""
          ibcCounterpartyChainId: ""
          ibcCounterpartyChannelId: ""
          ibcCounterpartyDenom: ""
          network: ""
          path: ""
          permissions: []
          transferLimit: ""
          unitDenom: ""
    epochs:
      epochs:
        - identifier: week
          duration: "168h"
          currentEpoch: "0"
          currentEpochStartHeight: "0"
          epochCountingStarted: false
        - identifier: day
          duration: "24h"
          currentEpoch: "0"
          currentEpochStartHeight: "0"
          epochCountingStarted: false
        - identifier: hour
          duration: "1h"
          currentEpoch: "0"
          currentEpochStartHeight: "0"
          epochCountingStarted: false
        - identifier: band_epoch
          duration: "15s"
          currentEpoch: "0"
          currentEpochStartHeight: "0"
          epochCountingStarted: false
        - identifier: tenseconds
          duration: "10s"
          currentEpoch: "0"
          currentEpochStartHeight: "0"
          epochCountingStarted: false
    commitment:
      params:
        vesting_infos:
          - base_denom: ueden
            vesting_denom: uelys
            epoch_identifier: tenseconds
            num_epochs: "10"
            vest_now_factor: "90"
    tokenomics:
      airdropList:
        - intent: AtomStakers
          amount: 9999999
          authority: elys10d07y265gmmuvt4z0w9aw880jnsr700j6z2zm3
        - intent: RowanStakersLP
          amount: 9999999
          authority: elys10d07y265gmmuvt4z0w9aw880jnsr700j6z2zm3
        - intent: Juno
          amount: 9999999
          authority: elys10d07y265gmmuvt4z0w9aw880jnsr700j6z2zm3
        - intent: Osmo
          amount: 9999999
          authority: elys10d07y265gmmuvt4z0w9aw880jnsr700j6z2zm3
        - intent: Evmos
          amount: 9999999
          authority: elys10d07y265gmmuvt4z0w9aw880jnsr700j6z2zm3
      genesisInflation:
        inflation:
          lmRewards: 9999999
          icsStakingRewards: 9999999
          communityFund: 9999999
          strategicReserve: 9999999
          teamTokensVested: 9999999
        seedVesting: 9999999
        strategicSalesVesting: 9999999
        authority: elys10d07y265gmmuvt4z0w9aw880jnsr700j6z2zm3
      timeBasedInflationList:
        - startBlockHeight: 1
          endBlockHeight: 6307200
          description: 1st Year Inflation
          inflation:
            lmRewards: 9999999
            icsStakingRewards: 9999999
            communityFund: 9999999
            strategicReserve: 9999999
            teamTokensVested: 9999999
        - startBlockHeight: 6307201
          endBlockHeight: 12614401
          description: 2nd Year Inflation
          inflation:
            lmRewards: 9999999
            icsStakingRewards: 9999999
            communityFund: 9999999
            strategicReserve: 9999999
            teamTokensVested: 9999999
        - startBlockHeight: 12614402
          endBlockHeight: 18921602
          description: 3rd Year Inflation
          inflation:
            lmRewards: 9999999
            icsStakingRewards: 9999999
            communityFund: 9999999
            strategicReserve: 9999999
            teamTokensVested: 9999999
  chain_id: elysicstestnet-1
